body {
  padding: 0%;
  margin: 5px;
  font-family: "Montserrat";
}
.container {
  width: 320px;
  background-color: white;
  height: fit-content;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0px 0px 62.7411px rgb(0 0 0 / 6%);
  border-radius: 10.9137px;
  padding: 5px;
}

img {
  height: 85px;
  width: 90px;
}
#eye {
  content: "\f06e";
  position: absolute;
  margin-left: 78%;
  margin-top: 48px;
}
.email {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 5%;
  width: 90%;
  height: 12%;
}
.input1 {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2.6396px 15.9137px;
  gap: 20.91px;
  width: 100%;
  height: 40px;
  border: 3.13706px solid rgba(0, 0, 0, 0.05);
  border-radius: 10.4569px;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.lab1 {
  width: 90%;
  height: 52%;
  font-style: normal;
  font-weight: 500;
  font-size: 140%;
  line-height: 33px;
  color: rgba(0, 0, 0, 0.7);
  flex: none;
  flex-grow: 0;
  margin-left: 6px;
}
.logdiv {
  width: 100%;
  margin-top: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.login {
  height: 35px;
  color: white;
  font-size: medium;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 88%;
  border: none;
  background: linear-gradient(270.09deg, #6b49fc -13.64%, #de85ff 86.14%, #e26ff1 106.56%);
  border-radius: 10.4569px;
  cursor: pointer;
}
.wrongpass {
  display: none;
  color: rgb(215, 71, 71);
  font-style: normal;
  font-weight: 600;
  font-size: 100%;
  line-height: 33px;
  margin: 0%;
}
.ftext {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 0px;
  color: #6b49fc;
  display: inline-block;
}
.account {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 13px;
}
.line {
  width: 90%;
  height: 0px;
  opacity: 0.5;
}
.actext {
  display: flex;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.4);
  justify-content: center;
}
.signuptext {
  font-style: normal;
  font-weight: 600;
  color: #6b49fc;
  margin: 0;
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
  display: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hide-loader {
  display: none;
}

.form1 {
  width: 100%;
}
.logincontainer {
  display: none;
  margin: 50px;
  height: 541px;
}
.logincontainer p {
  font-size: 23px;
  color: #ea3b96;
  font-weight: bolder;
}
.beforelogin {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

input.toggle-round {
  display: none;
}
input.toggle-round + label {
  display: block;
  position: relative;
  cursor: pointer;
}
input.toggle-round + label {
  display: inline-block;
  vertical-align: super;
  padding: 1px;
  width: 50px;
  height: 25px;
  background-color: #565656;
  border-radius: 50px;
  border: 1px solid #565656;
}
input.toggle-round + label:after {
  display: block;
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  /* background-color: white; */
  background-image: radial-gradient(brown -20%, gold, yellow);
  border-radius: 100%;
  box-shadow: 0 2px 3px #888;
  transition: margin 0.5s;
}
input.toggle-round:checked + label {
  background-color: #565656;
}
input.toggle-round:checked + label:after {
  margin-left: 25px;
}

.btndiv {
  display: flex;
  align-items: center;
  height: 20px;
}
