/*suggested tags*/


.tb-suggested-tag {
    color: #333;
    padding: 0 8px 0 7px;
    cursor: pointer;
    height: 22px;
    line-height: 19px;
    border: 1px solid transparent;
    border-radius: 10px;
    overflow: hidden;
    resize: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    box-shadow: 0 1px 0 white;
    margin: 2px 2px 9px 2px;
    white-space: nowrap;
    float: left;
    background-color: #f1f1f1
}

html[dark] .tb-suggested-tag {
    background-color: #606060;
    color: white;
    box-shadow: none;
}

    .tb-suggested-tag:hover {
        background-color: #ddd;
    }

.tb-suggested-tags-results-container {
    /*margin-left: 10px;
    margin-top: 5px;*/
}

.tb-suggested-tags-results {
    max-height: 400px;
    max-width: 405px;
    overflow-y: auto;
    overflow-x: hidden;
}

.tb-suggested-tags-results {
    max-height: 400px;
    max-width: 405px;
    overflow-y: auto;
    overflow-x: hidden;
}



.tb-suggested-tag-image {
    height: 15px;
    vertical-align: middle;
    margin-right: 1px;
}

.tb-suggested-tags-upgrade {
    text-align: left;
    margin-top: 2px;
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 12px;
    line-height: 15px;
    margin-right: 5px;
    display: none;
    position:relative;
    margin-left:20px;
}

.tb-suggested-tags-upgrade-img {
    position: relative;
    left: -20px;
    z-index: 999;
    top: -9px;
}

.tb-suggested-tags-upgrade-text {
  
    width: 300px;
    text-align:center;
    transform: translate(-50%, -50%);
    line-height: 200%;
    font-size: 13px;
    background-color: rgba(255, 255, 255, 0.7);
    border: solid 1px #ccc;
    border-radius: 7px;
    padding: 5px 0;
}

.tb-suggested-tag-text {
    vertical-align: text-top;
    font-size: 12px;
}

.tb-suggested-tag-demonetization {
    height: 10px;
    vertical-align: middle;
    margin-left: 3px;
}


/*auto complete*/

#tb-tagautocomplete-menu {
    border-radius: 8px;
    max-width: 320px;
}

.tb-tagautocomplete-menu-container {
    background-color: #fff;
    border-radius: 8px 8px 0 0;
    margin-top: 10px;
    -webkit-box-shadow: -3px 5px 10px rgba(0, 0, 0, 0.4);
    box-shadow: -3px 5px 10px rgba(0, 0, 0, 0.4);
    font-size: 13px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.tb-tagautocomplete-menu-item {
    cursor: pointer;
    white-space: nowrap;
    margin-bottom: -3px;
    display: inline-block;
}

.tb-tagautocomplete-element {
    position: relative;
}

.tb-tagautocomplete-menu-item-highlight {
    background-color: #f0f0f0;
}


.tb-tagautocomplete-menu-item-text {
    font-weight: 600;
}

.tb-tagautocomplete-menu-items {
    padding: 5px;
    max-height: 250px;
    min-width: 300px;
    overflow-y: auto;
    line-height: 210%;
    margin-left: 0.7em;
}

.tb-tagautocomplete-paywall-bg {
    position: absolute;
    width: 100%;
    height: 100%; 
    left: 0; 
    top: 0; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    backdrop-filter: blur(4px); 
    background: rgb(255 255 255 / 10%);
}

.tb-tagautocomplete-paywall-message {
    text-align: center; 
    width: 70%;
    padding: 20px;
    color: #fff; 
    border-radius: 10px; 
    line-height: 1.5; 
    box-shadow: 0 5px 10px 2px rgb(0,0,0,0.2);
    background: #0C1942 url('chrome-extension://__MSG_@@extension_id__/images/rst-bg.png') no-repeat bottom;
}


.tb-tagautocomplete-paywall-message a:not(.tb-tagautocomplete-paywall-cta) {
    color: #fff;
    text-decoration: underline;
}
.tb-tagautocomplete-paywall-message a:not(.tb-tagautocomplete-paywall-cta) strong {
    color: #29DAC5;
}

.tb-tagautocomplete-paywall-message span {
    font-weight: bold;
}

.tb-tagautocomplete-paywall-gradient {
    background: #4CAAED;
    background: linear-gradient(to top left, #4CAAED 0%, #29DAC5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
    font-size: 14px;
}

.tb-tagautocomplete-paywall-cta {
    display: inline-block; 
    margin: 16px auto;
    padding: 7px 30px; 
    background: #68EFDA; 
    border-radius: 99px; 
    color: #1D2327;
    font-size: 12px;
    font-weight: 700;
}

.tb-tagautocomplete-header {
    color: white;
    background-color: #1D2327;
    border: none;
    padding: 13px;
    border-radius: 8px 8px 0 0;
}

.tb-tagautocomplete-header img {
    height: 24px; 
    width: 24px;
    vertical-align: middle;
    border-radius: 50%;
    margin-left: 5px;
}

.tb-tagautocomplete-header span {
    vertical-align: middle; 
    font-size: 14px;
    font-weight: bold;
    margin-left: 7px;
    color: white;
}

.tb-tagautocomplete-header i {
    vertical-align: middle;
    text-decoration: none;
    height: 24px;
    width: 24px;
}

.tb-tagautocomplete-footer {
    background-color: #FAFAFF;
    padding: 16px 0;
    border-top: solid 1px rgb(221, 221, 221);
    border-radius: 0 0 8px 8px;
    text-align: center;
}

.tb-tagautocomplete-footer span {
    color: #1D2327;
    font-size: 12px;
    font-weight: normal;
}

.tb-tagautocomplete-footer a {
    color: #1D2327;
    text-decoration: underline;
}

.tb-tagautocomplete-tag {
    color: #0D0D0D;
    background-color: #F1F1F1;
    font-size: 13px;
    border-radius: 50px;
    padding: 2px 8px;
    cursor: pointer;
    line-height: 22px;
    overflow: hidden;
    resize: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}
.tb-tagautocomplete-tag:hover{
    background-color: #ddd;
}

.tb-tagautocomplete-suggested-tags {
    padding: 6px 14px !important;
}

.tb-tagautocomplete-menu-item-image {
    height: 16px;
    vertical-align: middle;
    margin-right: 4px;
    position: relative;
    top: -1px;
}

.tb-tagautocomplete-header-right {
    float: right;
    opacity: .8;
    cursor: pointer;
}

.tb-tagautocomplete-rst-descr {
    margin: 1em;
    color: #1D2327;
    font-size: 14px;
    line-height: 1.5;
    max-width: 372px;
}

.tb-tagautocomplete-rst-descr span {
    font-weight: bold;
    font-size: 12px;
    display: inline-block;
    margin-top: 0.5em;
}

.tb-tagautocomplete-menu-upgrade {
    text-align: center;
    margin-top: 2px;
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 12px;
    line-height: 15px;
    margin-left: 5px;
    margin-right: 5px;
    display: none;
}
 
.tb-tagautocomplete-menu-upgrade-img {
    position: relative;
    left: -4px;
    z-index: 999;
    top: -13px;
}

.tb-tagautocomplete-menu-upgrade-text {
    z-index: 1000;
    width: 300px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 200%;
    font-size: 13px;
    background-color: rgba(255, 255, 255, 0.7);
    border: solid 2px #dadada;
    border-radius: 7px;
    padding:5px 0;
}

.tb-tagautocomplete-menu-upgrade-text img {
    position: relative;
    top: 3px;
}

.tb-tagautocomplete-menu-upgrade-text a {
    cursor: pointer; 
    font-weight: 500; 
    padding: 2px 0 5px;
}

/*playlist select*/
.playlistSelectMutliSelect {
    display: none;
    padding: 2px 15px 2px 5px;
    top: 2px;
    width: 454px;
    list-style: none;
    height: 150px;
    box-sizing: border-box;
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.11);
    border-radius: 3px;
    overflow: auto;
}

.playlistSelectMutliSelectListItem {
    padding: 6px 6px;
    border-bottom: 1px solid #f5f5f5;
}

.playlistSelectCount {
    font-size: 11px;
    color: green
}

.tb-best-practices-checklist-list-item {
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
}

.tb-best-practices-checklist :last-child {
    border-bottom: 0px;
}

.tb-best-practices-hide {
    display: none;
}

.tb-best-practices-success {
    display: none;
}

.tb-best-practices-greenback {
    background-color: #eeffee;
}

.tb-best-practices-studio-container {
    background-color: white;
    border: solid 1px #ccc;
    padding: 8px 0px 0px 0px;
    border-radius: 3px;
    margin-top: 15px;
    position: absolute;
    width: 350px;
    z-index: 9;
    margin-bottom: 36px;
}


.tb-best-practices-container {
    background-color: white;
    border: solid 1px #ccc;
    padding: 8px 0px 0px 0px;
    border-radius: 3px;
    margin-top: 15px;
    position: absolute;
    width: 435px;
    z-index: 9;
}

.tb-best-practices-header {
    background-color: #f0f0f0;
    margin-right: 0px;
    margin-top: -8px;
    padding: 4px;
    border-bottom: solid 1px #ddd;
    position: relative;
}

.tb-best-practices-studio-header {
    background-color: transparent;
    margin-right: 0px;
    margin-top: -8px;
    padding: 10px;
    position: relative;
}


.tb-best-practices-header-right {
    float: right;
    text-align: right;
    position: relative;
    opacity: .5
}

.tb-best-practices-checklist-looking-good {
    display: none;
    max-height: 150px;
    overflow-y: auto;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center
}

.tb-best-practices-checklist-loading {
    opacity: .8;
    padding: 15px 5px 5px;
    font-size: 12px;
}



.tb-best-practices-checklist {
    display: none;
    max-height: 350px;
    overflow-y: auto;
    width: 100%
}

.tb-best-practices-checklist-upgrade {
    display: none;
    max-height: 150px;
    overflow-y: auto;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

.tb-best-practices-completed {
    display: none;
    background-color: #f0f0f0;
    padding: 5px;
    border-top: solid 1px #ddd;
    vertical-align: middle;
    margin-right: 0px;
}

.tb-best-practices-studio-completed {
    display: none;
    background-color: transparent;
    padding: 10px;
    margin-top:10px;
    vertical-align: middle;
    margin-right: 0px;
    background-color: #F2F2F2;
}

.tbCommentFormatterBold {
    font-weight: 500;
}

.tbCommentFormatterItalic {
    font-style: italic;
}

.tbCommentFormatterStrikethrough {
    text-decoration: line-through;
}
